<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Carrer Fair</title>
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/style.css">
  </head>
  <body>
    <!-- header start --------------------------------------------------------->

    <% include partials/header.ejs %>

    <!-- header end ----------------------------------------------------------->

    <!-- navigation start ----------------------------------------------------->

      <% include partials/navigation.ejs %>

    <!-- navigation end ------------------------------------------------------->


      <h3 class="deleteHeadingLarge ">
        <span class="border orangeclr">YOU are not the authourized  user to DELETE this Connection<a href="../connections">Please Click here to go back to the connections page</a></span>
      </h3>



      <!-- Footer start ------------------------------------------------------->

        <% include partials/footer.ejs %>

      <!-- Footer end --------------------------------------------------------->
  </body>
</html>
